<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>视频</title>
		<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/da.css">
		<link rel="stylesheet" href="../static/dist/css/AdminLTE.min.css">
		<link rel="stylesheet" href="../static/dist/css/skins/_all-skins.min.css">
		<link rel="stylesheet" href="../static/plugins/datepicker/datepicker3.css">
		<!-- ./wrapper -->
		<script src="../static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
		<script src="../static/bootstrap/js/bootstrap.min.js"></script>
		<script src="../static/dist/js/app.min.js"></script>
		<script src="../static/dist/js/demo.js"></script>
  </head>
  <body style="text-align: center;">
    <p>
      <!--frameset 没有按照预期结果显示-->
        <table class="table table-condensed">
          <caption>文件列表</caption>
          <thead>
            <tr>
              <th>视频</th>
              <th>删除文件</th></tr>
          </thead>
          <tbody>
            <tr>
            {% if not isempty %}
              {% for  files in filevideolist %}
                <td><video width="320" height="240" controls>
                  <source src="stream_video?username={{username}}&files={{files}}" type="video/mp4">{{files}}
                  </video></td>
              <!--<td><a href="stream_video?username={{username}}&files={{files}}">{{files}}</a></td>-->
              <td><a href="deletefile?username={{username}}&files={{files}}&type=video">删除</a></td></tr>
              {% endfor %}
            {% endif %}
            </tr>
          </tbody>
        </table>
    </p>
  </body>
</html>
